In [1]:
from pathlib import Path

from election_algorithm import *

/Users/Janjo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
XLSX_INPUT_PATH = Path("Dummy_Wahlergebnisse.xlsx")

In [3]:
import_xlsx(XLSX_INPUT_PATH)

   candiate_name  votes   A1   A2   A3    B    C    D
0          Anton     23    x  NaN  NaN    x  NaN    x
1          Berta     25    x  NaN  NaN    x  NaN    x
2      Charlotte      5  NaN    x  NaN    x  NaN    x
3           Dora     36    x  NaN  NaN    x  NaN    x
4           Emil     58    x  NaN  NaN    x  NaN    x
5      Friedrich     14    x  NaN  NaN  NaN  NaN    x
6         Gustav     11  NaN    x  NaN    x  NaN    x
7       Heinrich     60  NaN  NaN    x    x  NaN    x
8            Ida     11    x  NaN  NaN  NaN    x    x
9         Julius      2    x  NaN  NaN    x  NaN    x
10          Karl      5  NaN    x  NaN    x  NaN    x
11         Laura     15    x  NaN  NaN  NaN  NaN    x
12        Martha     43    x  NaN  NaN  NaN  NaN  NaN
13          Nina     10  NaN    x  NaN    x  NaN    x
14          Otto     48    x  NaN  NaN    x  NaN    x
15         Paula     26  NaN  NaN    x    x  NaN    x